In [1]:
#matrix
y<-matrix(1:20, nrow=5, ncol=4)
cells <- c(1,26,24,68)
rnames<- c("R1", "R2")
cnames<- c("C1", "C2")
mymatrix<-matrix(cells, nrow=2, ncol=2, byrow=TRUE, dimnames=list(rnames, cnames))

In [2]:
mymatrix

   C1 C2
R1  1 26
R2 24 68

In [3]:
y[,4]
y[3,]
y[2:4, 1:3]

[1] 16 17 18 19 20

[1]  3  8 13 18

     [,1] [,2] [,3]
[1,] 2    7    12
[2,] 3    8    13
[3,] 4    9    14

In [3]:
library(shiny)

In [ ]:
runExample("06_tabsets")

Listening on http://127.0.0.1:7434